<nav ng-controller="navCtrl as nav" id="nav">
    <div class="container">
        <div id="nav-header">
            <div class="row">
                <div class="col-md-2">
                    <div id="brand-logo">
                        <a ui-sref="home"><img src="/frontend/assets/images/savvy.png"></a>
                    </div>
                </div>
                <form ng-submit="nav.search()" class="col-md-8" handle-submit>
                    <input type="search"
                           ng-model="nav.search_term"
                           id="search-box"
                           placeholder="Search for products or services e.g. Coffee, Car Repair">
                    <button type="submit" id="search-box-button">
                        <i class="fa fa-search"></i>
                    </button>
                </form>
            </div>
        </div>
        <div id="nav-body">
            <ul class="pull-left">
                <li>
                    <a ui-sref="home">Home</a>
                </li>
                <li ng-show="nav.isAuthenticated">
                    <a ui-sref="submit">Submit Price</a>
                </li>
                <li ng-show="nav.isAuthenticated">
                    <a ui-sref="receipt">Upload Receipt</a>
                </li>
                <li>
                    <a ui-sref="faq">FAQs</a>
                </li>
            </ul>
            <ul class="pull-right">
                <li ng-if="!nav.isAuthenticated">
                    <a class="btn btn-sm btn-default" ui-sref="signup">Sign Up</a>
                </li>
                <li ng-if="!nav.isAuthenticated">
                    <a class="btn btn-sm btn-success" ui-sref="login">Log In</a>
                </li>
                <li ng-if="nav.isAuthenticated" style="color: #fff;">
                    <a ui-sref="profile({username: '{{nav.userData.username}}'})">Hello, <span ng-bind="nav.userData.first_name"></span></a>
                </li>
                <li ng-if="nav.isAuthenticated && nav.isAdmin">
                    <a ui-sref="admin">Admin Dashboard</a>
                </li>
                <li ng-if="nav.isAuthenticated">
                    <a class="btn btn-sm btn-danger" ng-click="logout()">Logout</a>
                </li>
            </ul>
        </div>
        <div id="mobile-nav-wrapper">
            <a ng-click="showMobileNav()" href=""><i class="fa fa-navicon"></i></a>
            <div ng-show="show_mobile_nav" id="mobile-nav">
                <ul class="nav-left">
                    <li>
                        <a ui-sref="/">Home</a>
                    </li>
                    <li>
                        <a ui-sref="submit">Submit Price</a>
                    </li>
                    <li>
                        <a ui-sref="about">About</a>
                    </li>
                </ul>
                <ul ng-if=""
                <ul id="nav-right">
                    <li>
                        <a ui-sref="login">Login</a>
                    </li>
                    <li>
                        <a ui-sref="signup">Sign Up</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="nav-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <ol ng-if="state.current.name !== 'product'" class="breadcrumb">
                        <li><a ui-sref="home">Home</a></li>
                        <li ng-if="state.current.name !== 'home'" class="active">
                            {{state.current.title}}
                        </li>
                    </ol>
                    <ol ng-if="state.current.name === 'product'" class="breadcrumb">
                        <li><a ui-sref="home">Home</a></li>
                        <li><a ui-sref="search">Search</a></li>
                        <li class="active">{{product.description}}</li>
                    </ol>
                    <!--<ol ng-switch on="state.current.name" class="breadcrumb">
                        <li><a ui-sref="home">Home</a></li>
                        <li ng-switch-when="state.current.name === 'product'"><a ui-sref="search">Search</a></li>
                        <li ng-switch-when="state.current.name === 'product'" class="active">{{product.description}}</li>
                        <li ng-switch-default ng-hide="state.current.name === 'home'"class="active">{{state.current.title}}</li>
                    </ol>-->
                </div>
            </div>
        </div>
    </div>
</nav>
