<div class="content-header">
    <h4><i class="fa fa-book"></i> Frequently Asked Questions</h4>
</div>

<div class="faq-question">
    <h4>What is Savvy?</h4>
    <p>
        Savvy enables users to search, verify, and share current prices for goods
        and services in a specific location. Savvy is for the consumer who wants
        to save their money in an easily accessible and quick to use application.
    </p>
    <hr>
</div>

<div class="faq-question">
    <h4>What are the benefits of signing up for Savvy?</h4>
    <p>
        Signing up for Savvy allows you to submit prices of products or services you've purchased.
        You can also keep track of prices you've submitted, and keep a list of
        products or services in order to track if their price changes.
    </p>
    <hr>
</div>

<div class="faq-question">
    <h4>How do I sign up for Savvy?</h4>
    <p>
        To sign up for Savvy, visit the <a ui-sref="signup">Sign Up</a> page.
    </p>
    <hr>
</div>

<div class="faq-question">
    <h4>How do I view prices for a product or service?</h4>
    <p>
        To view prices for any product or service, type the name of the product or
        service into the search bar at the top of every page.
    </p>
    <hr>
</div>

<div class="faq-question">
    <h4>What if there are no products or services found from my search?</h4>
    <p>
        If there are no results found, it means there is currently no submitted
        prices for that product or service. If you have purchased it, you can
        <a>submit the price</a> you paid for the product or service.
    </p>
    <hr>
</div>

<div class="faq-question">
    <h4>How do I submit a price for a product or service I bought?</h4>
    <p>
        Go to the <a ui-sref="submit">Submit Price</a> page and enter a name for the product or service,
        the place of purchase, the price you paid, and add any tags that you can
        think of which may help others search for it in the future. You can also
        upload a picture of the product or service.
    </p>
    <hr>
</div>

<div class="faq-question">
    <h4>Can I add more than one tag when submitting a price?</h4>
    <p>
        Yes. Simply enter another tag in the box and click add.
    </p>
    <hr>
</div>

<div class="faq-question">
    <h4>What if I forgot my password?</h4>
    <p>
        Don't panic! Just click <a>here</a> to reset your password. Enter the email address associated with your account
        and we will send you a password reset link.
    </p>
    <hr>
</div>


<div class="faq-question">
    <h4>What I lost access to the email account associated with my Savvy account?</h4>
    <p>
        Unfortunately at this time we can not modify the email address associated
        your Savvy account. However, you can always sign up for a new account <a ui-sref="signup">here</a>.
</div>
