<div id="reset-password">
    <div>
        <img src="/frontend/assets/images/savvy_grey_dollar.png" class="logo-heading">
        <div class="logo-divider"></div>
    </div>
    <div class="content-centered">
        <h2 class="heading-green">Reset Your Password</h2>
        <div id="send-reset-code">
            <div class="margin-bottom">
                <i class="fa fa-info-circle"></i>
                <span>Enter your email address and we'll send you a code you'll need to reset your password.</span>
            </div>
            <div ng-show="resetPass.message.show" id="message" class="alert alert-{{resetPass.message.status}} alert-sm">
                <i ng-show="resetPass.message.status === 'danger'" class="fa fa-exclamation-triangle"></i>
                <i ng-show="resetPass.message.status === 'success'" class="fa fa-check"></i>
                <span ng-bind="resetPass.message.text"><span>
            </div>
            <input type="text" ng-model="resetPass.email" id="enter-email" placeholder="Enter your email address">
            <button ng-click="resetPass.sendPasswordResetCode(resetPass.email)" class="btn btn-success btn-md">Send password reset email</button>
        </div>
        <hr>
        <div>
            <div>
                <label>
                    <!--<p>Reset Code</p>-->
                    <input type="text" ng-model="resetPass.reset_code"  id="reset-code" placeholder="Reset Code">
                    <input type="password" ng-model="resetPass.new_password" placeholder="New Password">
                    <button ng-click="resetPass.resetPassword(resetPass.reset_code, resetPass.new_password)" class="btn btn-success">Reset Password</button>
                </label>
            </div>
            <div id="new-password">
                <label>
                    <!--<p>New Password</p>-->
                </label>
            </div>
        </div>
    </div>
</div>
