<div id="send-reset-code">
    <header class="content-header">
        <h4><i class="fa fa-user"></i> Reset your password</h4>
    </header>
    <div>
        Enter your email address and we'll send you a link along with a code to reset your password
        <input type="text" ng-model="resetPass.email" placeholder="Enter your email address">
        <button ng-click="resetPass.sendPasswordResetCode(resetPass.email)" class="btn btn-success">Send password reset email</button>
    </div>
    <div>
        <div>
            Reset Code: <input type="text" ng-model="resetPass.reset_code">
        </div>
        <div>
            New Password: <input type="password" ng-model="resetPass.new_password">
            <button ng-click="resetPass.resetPassword(resetPass.reset_code, resetPass.new_password)" class="btn btn-success">Reset Password</button>
        </div>
    </div>
</div>
