@import "./assets/css/global";

.submit-price { //Namespace
    p {
        margin: 1em 0 1em 0;
    }

    label {
        display: block;
        margin-bottom: 1.5em;

        p {
            margin: 0;
            margin-bottom: 5px;
            font-size: 16px;
        }
        input {
            width: 50%;

            &:focus {
                outline: none;
                border-color: #7dc7ed;
            }
        }
    }

    .add-tag {
        input {
            display: inline-block;
            width: 30%;
        }
    }

    #price-paid {
        width: 30%;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .input-addon {
        background-color: #eee;
        padding: 11px;
        margin-right: -5px;
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
        border: 1px solid #e5e5e5;
        border-right: 0;
        background-color: #f1f9f7;
        border-color: #e0f1e9;
        color: #1d9d74;
    }

    .product-description {
        position: relative;
    }

    .product-list {
        position: absolute;
        top: 90px;
        border: 1px solid $border_color;
        background-color: #fff;
        box-shadow: 0 2px 3px rgba(0,0,0,.1);
        z-index: 1000;

        .product-result {
            padding: 10px;
            cursor: pointer;
            border-bottom: 1px solid $border_color;

            &:hover {
                background-color: #f4f4f4;
            }
        }
    }
}
