<div class="submit-price">
    <div class="content-header">
        <h4><i class="fa fa-share-square-o"></i> Submit a Price</h4>
    </div>
    <form ng-submit="submitPrice()" name="submitForm">
    	<div class="instructions alert alert-success" style="width: 75%;">
            <i class="fa fa-info-circle"></i>
            Complete the required (*) fields below then click Submit to add your product or service.
        </div>

        <!--Product Description-->
        <div class="product-description form-section">
            <label for="product-description" style="margin-bottom: 0px;">
                <p>
                    Product Name <span class="required-asterisk">&ast;</span>
                </p>
            </label>
            <input type="text"
                    ng-model="product.description"
                    ng-model-options="{ debounce: 300 }"
                    ng-change="searchProducts(product.description)"
                    ng-blur="products = []"
                    ng-required="true"
                    id="product-description"
                    placeholder="The name of the product, e.g. 12oz. Coke Can"
                    style="width: 50%;">
            <div class="product-list" ng-show="products.length > 0">
                <div ng-repeat="product in products" ng-mousedown="selectProduct(product)" class="product-result">
                    <span ng-bind="product.description"></span>
                </div>
            </div>
        </div>

        <!--Price Paid-->
        <div class="product-price form-section">
            <label for="price-paid">
            	<p>
                    Price Paid <span class="required-asterisk">&ast;</span>
                </p>
            </label>
                <span class="input-addon">$</span>
                <input type="number"
                        ng-model="price"
                        id="price-paid"
                        step="any"
                        min="0"
                        ng-required="true"
                        placeholder="The price you paid">
        </div>

        <!--Place of Purchase-->
        <div class="product-place form-section">
            <label for="product-place">
                <p>
                    Place of Purchase <span class="required-asterisk">&ast;</span>
                </p>
            </label>
            <input type="text"
                    ng-required="true"
                    id="product-place"
                    placeholder="Where you bought the product">
        </div>
        <!--<div class="divider">
            <span>OPTIONAL</span>
        </div>-->
        <hr>

        <!--Optional Section-->
        <!--<div class="alert alert-success" style="width: 75%;">
            <i class="fa fa-info-circle"></i>
            You can add tags here. Click add after entering each tag. You may
            submit more than one.
        </div>-->

        <!--Add Tags-->
        <section class="add-tag form-section">
            <label>
                <p>Add A Tag</p>
                <input type="text"
                        ng-model="tag"
                        ng-enter="addTag()"
                        size="6"
                        placeholder="Enter a tag">
                <button type="button"
                        class="btn btn-primary btn-sm"
                        ng-click="addTag()">
                        Add
                </button>
            </label>
            <span ng-show="messages.tag_message === 'error-empty-input'" class="error-message">Please enter a tag.</span>
            <span ng-show="messages.tag_message === 'error-already-entered'" class="error-message">You already entered that tag!</span>
            <span ng-repeat="tag in product.tags" class="tag">{{tag}}</span>
        </section>

        <!--Picture Upload-->
        <div class="form-section">
            <label>
                <span>Upload a picture of the product</span>
                <input type="file" fileread="product.image">
                <div ng-show="product.image">
                    <p>Image Preview</p>
                    <img ng-src="{{product.image}}" style="width: 20%;">
                </div>
            </label>
        </div>

        <!--Submit Section-->
        <section>
            <button type="submit" ng-disabled="" class="btn btn-success btn-md">Submit</button>
            <span ng-show="message === 'processing'"><img src="/frontend/assets/images/loader.gif"></span>
            <span ng-show="message === 'success'" class="text-success">Price Added!</span>
            <span ng-show="message === 'error'" class="alert alert-danger">
                <i class="fa fa-exclamation-triangle"></i> Submission Error. Please try again later.
            </span>
        </section>
    </form>

    <!--Show Receipt-->
    <!--<div ng-show="message === 'success'">
        <div class="alert alert-success">
            <i class="fa fa-check-circle primary-color"></i>
            Price successfully added!
        </div>
        <h4><i class="fa fa-paste primary-color"></i> Receipt For Your Records</h4>
        <span class="note">You can view this receipt and all of your submissions in <a ui-sref="account_settings">Account Settings</a></span>
        <hr>
        <p>Product Name: <strong>{{product.description}}</strong></p>
        <p>Place of Purchase: <strong>{{product.business_name}}</strong></p>
        <p>Price Paid: <strong>${{product.price / 100}}</strong></p>
        <p>Tags: <strong>{{product.tags}}</strong></p>
        <p>Product Image: <img ng-src="{{product.image}}" style="width: 20%;"></p>
        <div>
            <button ng-click="clearProduct(product)" class="btn btn-link" style="padding: 0">Submit Another Price</button>
        </div>
    </div>-->
</div>
