<div class="submit-price">
    <div class="content-header">
        <h4><i class="fa fa-share-square-o"></i> Submit a Price</h4>
    </div>
    <div style="margin-bottom: 15px;">
        <button class="btn btn-primary">Submit a Single Price</button><!--will be tabular-->
        <button class="btn btn-default">Upload a Receipt</button>
    </div>
    <form ng-submit="submitPrice()" ng-hide="message === 'success'" name="submitForm">
    	<div class="instructions alert alert-info">
            <i class="fa fa-info-circle"></i>
            Complete the required (*) fields below then click Submit to add your product or service to Savvy.
        </div>
        <div class="product-description">
            <label for="product-description">
                <p>
                    Product Name <span class="required-asterisk">&ast;</span>
                </p>
            </label>
            <input type="text"
                    ng-model="product.description"
                    ng-model-options="{ debounce: 300 }"
                    ng-change="searchProducts()"
                    ng-blur="products = []"
                    ng-required="true"
                    id="product-description"
                    placeholder="The name of the product, e.g. 12oz. Coke Can">
            <div class="product-list" ng-show="products.length > 0">
                <div ng-repeat="product in products" ng-click="selectProduct(product)" class="product-result">
                    {{product.description}}
                </div>
            </div>
        </div>

        <label>
            <p>
                Place of Purchase
                <span class="required-asterisk">&ast;</span>
            </p>
            <input type="text"
                    ng-required="true"
                    id="places"
                    placeholder="Where you bought the product">
            <a>Enter Custom Address</a>
        </label>
        <label>
        	<p>
                Price Paid <span class="required-asterisk">&ast;</span>
            </p>
            <span class="input-addon">$</span>
            <input type="number"
                    ng-model="price"
                    id="price-paid"
                    step="any"
                    min="0"
                    ng-required="true"
                    placeholder="The price you paid">
        </label>
        <div class="divider">
            <span>OPTIONAL</span>
        </div>
        <div class="alert alert-info">
            <i class="fa fa-info-circle"></i>
            You can add tags here. Click add after entering each tag. You may
            submit more than one tag.
        </div>
        <section class="add-tag">
            <label>
                <p>Add A Tag</p>
                <input type="text"
                        ng-model="tag"
                        ng-enter="addTag()"
                        size="6"
                        placeholder="Enter a tag">
                <button type="button"
                        class="btn btn-primary btn-sm"
                        ng-click="addTag()">
                        Add
                </button>
            </label>
            <span ng-show="messages.tag_message === 'error-empty-input'" class="error-message">Please enter a tag.</span>
            <span ng-show="messages.tag_message === 'error-already-entered'" class="error-message">You already entered that tag!</span>
            <span ng-repeat="tag in product.tags" class="tag">{{tag}}</span>
        </section>
        <label>
            <span>Upload a picture of the product (optional)</span>
            <input type="file" ng-model="product.product_image" fileread="product_image">
        </label>
        <section>
            <button type="submit" ng-disabled="" class="btn btn-success btn-md">Submit</button>
			<!-- Add a Go Back button! -->
            <span ng-show="message === 'processing'"><img src="/frontend/assets/images/loader.gif"></span>
            <span ng-show="message === 'success'" class="text-success">Price Saved!</span>
            <span ng-show="message === 'error'" class="alert alert-danger">
                <i class="fa fa-exclamation-triangle"></i> Submission Error. Please try again later.
            </span>
        </section>
    </form>

    <div ng-show="message === 'success'">
        <div class="alert alert-success">
            <i class="fa fa-check-circle primary-color"></i>
            Price successfully added!
        </div>
        <h4><i class="fa fa-paste primary-color"></i> Receipt For Your Records</h4>
        <span class="note">You can view this receipt and all of your submissions in <a ui-sref="account_settings">Account Settings</a></span>
        <hr>
        <p>Transaction ID: <strong>{{receipt.id}}</strong></p>
        <p>Product Name: <strong>{{receipt.description}}</strong></p>
        <p>Place of Purchase: <strong>{{receipt.business}}</strong></p>
        <p>Price Paid: <strong>${{receipt.price}}</strong></p>
        <p>Tags: <strong>{{receipt.tags}}</strong></p>
        <div>
            <button ng-click="initializeData()" class="btn btn-link" style="padding: 0">Submit Another Price</button>
        </div>
    </div>
</div>
