<div class="product-page">
    <div class="content-header">
        <h4><i class="fa fa-info-circle"></i> Product Information</h4>
    </div>
    <div ng-show="status.product === 'loading'">
        <img src="/frontend/assets/images/loader.gif">
        {{status.map}}
    </div>

    <div ng-show="status.product === 'ready'">
        <div style="margin-bottom: 20px;">
            <h1>{{product.description}}</h1>
            <hr>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="center" style="padding: 0 40px;">
                    <p style="width: 100%;">
                        <span style="font-size: 12px;">Was this information helpful?</span>
                    </p>
                    <div class="vote" style="margin-bottom: 10px;">
                        <button ng-click="sendVote(1); calcVote(1);"
                                ng-class="{'vote-button-active': vote.up}"
                                class="btn btn-outline btn-sm"
                                style="width: 100%;">
                            <i class="fa fa-thumbs-o-up" style="font-size: 14px;"></i> Yes
                        </button>
                    </div>
                    <div style="margin-bottom: 10px;">
                        Score: <span ng-bind="product.score" ng-class="{'text-danger': product.score < 0, 'text-success': product.score > 0}"></span>
                    </div>
                    <div class="vote">
                        <button ng-click="sendVote(-1); calcVote(-1);"
                                ng-class="{'vote-button-active': vote.down}"
                                class="btn btn-outline btn-sm"
                                style="width: 100%;">
                            <i class="fa fa-thumbs-o-down" style="font-size: 14px;"></i> No
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div style="margin-left: 15px; padding-left: 20px;">
                    <div class="product-metric">
                        <h2>${{product.average_price / 100}}</h2>
                        <small>Average Price</small>
                    </div>
                    <div class="product-metric">
                        <h2>${{product.lowest_price / 100}}</h2>
                        <small>Lowest Price</small>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <img src="{{product.image}}" alt="Product Picture" style="display: block; width: 75px; margin: 0 auto;">
                <label>
                    <p style="margin: 0;">Top 5 Tags</p>
                    <div style="margin-bottom: 15px;">
                        <span ng-repeat="tag in product.tags track by $index" ng-if="$index < 5" class="tag label label-success">
                            <a ui-sref="search({search_term: '{{tag}}' })">{{tag}}</a>
                        </span>
                    </div>
                    <div>
                        <input type="text"
                               placeholder="Enter a new tag"
                               ng-model="tag"
                               style="width: 150px; height: 30px;">
                        <button type="button" ng-click="addTag(tag, product.product_id)" class="btn btn-primary btn-sm">Add Tag</button>
                        <!--<i class="fa fa-check text-success"></i>-->
                    </div>
                </label>
            </div>
        </div>
        <hr>

        <div class="row">
            <div class="col-sm-5">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>Latest Prices</h3>
                    </div>
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <th>Location</th>
                                <th>Purchase Price</th>
                                <th>Date Purchased</th>
                            </tr>
                            <tr ng-repeat="submission in product.price_submissions">
                                <td>
                                    <strong>{{submission.business_details.google_places.name}}</strong>
                                    <div>
                                        <small>{{submission.business_details.google_places.vicinity}}</small>
                                    </div>
                                </td>
                                <td>${{submission.price / 100}}</td>
                                <td>{{submission.submitted_timestamp | date}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-sm-7">
                <div ng-show="status.map === 'loading'" id="map-loader">
                    <img src="/frontend/assets/images/loader.gif">
                    <span>Loading Map...</span>
                </div>
                <div id="map"></div>
                <!--<ng-map scrollwheel="false" center="[{{lat}}, {{long}}]" zoom="11" default-style="true">
                    <marker position="[[{{lat}}, {{long}}]" title="hello"></marker>
                </ng-map>-->
            </div>
        </div>
        <hr>
        <h2 style="margin-bottom: 15px;">Average Price By Day</h2>
        <div>
            <div id="prices-graph" style="">
            </div>
        </div>
    </div>
</div>
