@import "./assets/css/global.scss";

.product-description {
    margin-bottom: 15px;
}

.product-metric {
    margin-bottom: 15px;
}

table {
    td {
        font-size: 12px;
    }
    th {
        font-size: 14px;
    }
}

.map-loader {
    width: 50%;
    margin: 30px auto;
}

.vote {
    .vote-button-active {
        background-color: $accent_color;
        color: #fff;
    }
}
