<div class="homepage row">
    <div id="homepage-info" class="center">
        <div id="homepage-logo-block">
            <img src="frontend/assets/images/dollar-logo.png">
            <h3>Crowdsourced Price Data</h3>
        </div>
        <h4>Welcome to Savvy</h4>
        <p>
            Savvy is all about saving you money by letting you compare prices of products
            and services submitted by people around you.
        </p>
    </div>
    <div id="home-banner" class="center">
        <a ng-show="$parent.user.logged_in"
           ui-sref="submit"
           class="btn btn-default btn-lg"
           type="button">
           Submit a Price
        </a>
        <div id="signup-block" class="center">
            <h2>
                Wanna be Savvy?
            </h2>
			<p>
				Click Sign Up below to create your free account.
			</p>
            <a ui-sref="signup" class="btn btn-signup center">Sign Up</a>
            <!--<h2>
                Submit a Price
            </h2>
			<p>
				Click Submit a Price below to submit a new price
			</p>
            <a ui-sref="signup" class="btn btn-signup center">Submit a Price</a>-->
        </div>
    </div>
</div>
