<div style="margin-top: 20px;">
    <h1 style="margin-bottom: 20px;">Public API Showcase</h1>
    <ul>
        <li style="margin-bottom: 15px;">
            <a href="api/v1/products/search?query=milk" target="_blank">Search for "milk"</a>
        </li>
        <li style="margin-bottom: 15px;">
            <a href="/api/v1/products/56bd2141d8d9a114db76ca62?price_limit=5" target="_blank">Get product Starbucks Venti Pike's Place Roast Coffee, limit 5 price submissions</a>
        </li>
    </ul>

</div>
