<div class="row">
    <div class="col-lg-4 col-lg-offset-4">
        <h1>Save dat money</h1>
        <div class="input-group">
            <input ng-model="search_term" type="text" class="form-control">
            <span class="input-group-btn">
                <button ng-click="search()"
                        class="btn btn-default" type="button">Go!</button>
            </span>
        </div>
        {{search_term}}
        <h3 class="center">OR</h3>
        <div>
            <button class="btn btn-primary btn-lg btn-block" type="button">Submit a Price</button>
        </div>
        <!-- /input-group -->
    </div>
    <!-- /.col-lg-6 -->
</div>
<!-- /.row -->

<footer>
    <ul></ul>
</footer>
