<div class="signup col-lg-4 col-lg-offset-4">
    <h2 class="heading center">Sign Up</h2>
    <form name="userForm" class="input-group">
        <input type="text"
                ng-model="user.first_name"
                ng-required="required"
                placeholder="First Name"
                class="form-control">

        <input type="text"
                ng-model="user.last_name"
                ng-required="required"
                placeholder="Last Name"
                class="form-control">

        <input type="text"
                ng-model="user.email"
                ng-required="required"
                placeholder="Email Address"
                class="form-control">

        <input type="password"
                ng-model="user.password"
                ng-required="required"
                placeholder="Password"
                class="form-control">

        <input type="password"
                ng-required="required"
                ng-model="user.confirmed_password"
                placeholder="Confirm Password"
                class="form-control">
        <div>
            <button type="button"
                ng-click="saveNewUser();"
                ng-disabled="userForm.$invalid"
                id="signup-btn"
                class="btn btn-warning btn-lg btn-block">
                Sign Up
            </button>
        </div>
        <p class="signup-login center">
            Already have an account?
            <a ui-sref="login">Log In</a>
        </p>
    </form>
    {{user}}
</div>
