<div class="login col-lg-4 col-lg-offset-4">
    <h2 class="heading center">Login</h2>
    <form class="input-group">
        <input type="text"
               ng-model="data.email"
               placeholder="Email Address"
               class="form-control">
        <input type="text"
                ng-model="data.password"
                placeholder="Password"
                class="form-control">
        <button
            ng-click="loginUser();"
            class="btn btn-danger btn-lg btn-block">
        Login
        </button>
    </form>
</div>
{{data}}
