<h3>Submit a Price</h3>
<div class="widget-box">
    <div class="widget-header">
        <i class="fa fa-info-circle widget-icon"></i>
        <span class="widget-title">Instructions</span>
    </div>
    <section class="widget-body">
        <p>This page allows you to submit the details of a product you recently purchased</p>
    </section>
</div>
<form id="submit-product-form" class="widget-box" role="form">
    <div class="widget-header">
        <i class="fa fa-camera-retro widget-icon"></i>
        <span class="widget-title">Product Submission</span>
    </div>
    <section class="widget-body">
        <div class="form-group">
        	<label for="exampleInputEmail1">Brand</label>
        	<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter brand name">
        </div>
        <div class="form-group">
        	<label for="exampleInputPassword1">Product Name</label>
        	<input type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter the name of the product">
        </div>
        <div class="form-group">
        	<label for="exampleInputPassword1">Type of Good</label>
        	<input type="text" class="form-control" id="exampleInputPassword1" placeholder="e.g. Coffee or Television">
        </div>
        <div class="form-group">
        	<label for="exampleInputPassword1">Place of Purchase</label>
        	<input type="text" class="form-control" id="exampleInputPassword1" placeholder="e.g. Walmart or McDonald's">
        </div>
        <div class="form-group">
        	<label for="exampleInputPassword1">Price Paid</label>
        	<input type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter the price you paid">
        </div>
        <div class="form-group">
        	<label for="exampleInputFile">Upload a picture of the product</label>
        	<input type="file" id="exampleInputFile" />
        </div>
        <div class="checkbox">
        	<label><input type="checkbox" /> Check me out</label>
        </div>
        <button type="submit" class="btn btn-success btn-lg btn-block">Submit</button>
        <span ng-show="message === 'processing'"><img src="images/spinner.gif"></span>
        <span ng-show="message === 'success'" class="text-success">Product Saved!</span>
    </section>
</form>
