<div class="homepage row">
    <div id="home-banner">
        <img id="home-info" src="images/home-info.png">
    </div>
    <form ng-submit='search()' class="col-md-12 top-block center">
        <div>
           <a ng-show="$parent.user.logged_in"
              ui-sref="submit"
              class="btn btn-default btn-lg"
              type="button">
              Submit a Price
           </a>
       </div>
   </form>
    <section class="middle-block col-md-12 center">
        <button id="sign-up-button" class="btn btn-default">Sign Up</button>
        <p>Already signed up? <a ui-sref="login">Login</a></p>
    </section>
</div>
