<div class="signup">
    <img src="../images/savvy_grey_dollar.png"
        style="display: block; margin: 0 auto; width: 10%; margin-top: 20px;">
    <div style="border-bottom: 1px solid #ebebeb; height: 1px; margin-top: 20px; margin-left: -15px; margin-right: -15px;">

    </div>
    <form style="width: 50%; margin: 0 auto; margin-top: 20px;">
        <h3 style="color: #00A079; margin-bottom: 20px; font-weight: bold;">Sign Up</h3>
        <div>
            <p>
    			Complete all fields below to create your Savvy account.
            </p>
            <p>
    			Creating a Savvy account will allow you to submit prices
                for products and services as well as adding products and
                services to a price watch list.
    		</p>
        </div>
        <label>
            <p>Email Address</p>
            <input type="text" ng-model="data.email" style="display: block; width: 100%; margin-bottom: 20px;">
        </label>
        <label>
            <p>Password</p>
            <input type="text" ng-model="data.password" style="display: block; width: 100%; margin-bottom: 20px;">
        </label>
        <label>
            <p>Email Address</p>
            <input type="text" ng-model="data.email" style="display: block; width: 100%; margin-bottom: 20px;">
        </label>
        <label>
            <p>Email Address</p>
            <input type="text" ng-model="data.email" style="display: block; width: 100%; margin-bottom: 20px;">
        </label>
        <label>
            <p>Email Address</p>
            <input type="text" ng-model="data.email" style="display: block; width: 100%; margin-bottom: 20px;">
        </label>
        <label>
            <p>Email Address</p>
            <input type="text" ng-model="data.email" style="width: 100%; margin-bottom: 20px;">
        </label>
        <button
            ng-click="loginUser();"
            class="btn btn-success btn-lg btn-block"
            style="margin-bottom: 20px;">
        Sign Up
        </button>
        <div class="center">
            <p style="margin-bottom: 20px;">Don't have an account? <a ui-sref="signup">Sign Up</a></p>
            <p><a ui-sref="account-recovery">Forgot your password?</a></p>
        </div>
    </form>
</div>
{{data}}
