<div id="product-info">

<div class="content-header">
    <h5><i class="fa fa-tag"></i> Product Information</h5>
</div>

<div class="row">
    <div class="col-sm-2">
        <div>
            <i ng-click="vote('up');" class="fa {{icon}}" style="font-size: 20px; color: red;"></i>
        </div>
        <div>
            <i ng-click="vote('down');" class="fa fa-thumbs-o-down" style="font-size: 20px; color: green;"></i>
        </div>
        {{icon}}
        <p>
            Was this information helpful?
        </p>
    </div>
    <div class="col-sm-5">
        <h2>Folger's Coffee</h2>
        <p><span style="font-size: 24px;">$5.40</span> <span style="font-size: 12px;">Average Price</span></p>
        <p><span style="font-size: 24px;">$5.40</span> <span style="font-size: 12px;">Lowest Price</span></p>
    </div>
    <div class="col-sm-5">
        <img src="http://www.greekshares.com/uploads/image/stock_market_quotes.jpg" style="width: 85%; ">
        <div>
            <span>Tags:</span>
            <span ng-repeat="tag in product.tags" class="badge">
                <a ui-sref="results({search_term: '{{tag.name}}'})">{{tag.name}}</a>
            </span>
            <input type="text"
                   placeholder="Add tags, comma seperated">
            <button type="button" class="btn btn-primary btn-sm">Submit</button>

        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-sm-8 col-sm-offset-3">
        <h2>Price Over Time</h2>
        <div id="visualization"></div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-sm-6">
        <h2>Best Prices</h2>
        <table class="table">
            <tr>
                <th>Brand</th>
                <th>Avg Price</th>
                <th>Low Price</th>
            </tr>
            <tr>
                <td>Folgers</td>
                <td>$1.65</td>
                <td>$1.20</td>
            </tr>
        </table>
    </div>
    <div class="col-sm-6">
        <h2>Latest Prices</h2>
        <table class="table table-striped">
            <tbody class="table-striped">
                <tr>
                    <th>Brand</th>
                    <th>Avg Price</th>
                    <th>Low Price</th>
                </tr>
                <tr>
                    <td>Folgers</td>
                    <td>$1.65</td>
                    <td>$1.20</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</div>
