<div id="submit-price">
    <div class="content-header">
        <h5><i class="fa fa-share-square-o"></i> Submit a Price</h5>
    </div>
    <form ng-submit="submitPrice()" ng-hide="message === 'success'" id="submit-product-form" name="submitForm" role="form">
        <section class="">
            <label>
                <span>Product Name &ast;</span>
                <input type="text"
                        ng-model="product.description"
                        ng-required="true"
                        placeholder="Enter the name of the product, e.g. 12oz. Coke Can">
            </label>
            <label>
                <span>Place of Purchase &ast;</span>
                <input type="text"
                        ng-required="true"
                        id="places"
                        placeholder="Enter where you bought the product">
            </label>
            <label>
            	<span>Price Paid (enter a number with no dollar sign) &ast;</span>
            	<input type="number"
                        ng-model="product.price"
                        step="any"
                        min="0"
                        ng-required="true"
                        placeholder="Enter the price you paid">
            </label>
            <!--<label>
            	<span>Upload a picture of the product (optional)</span>
            	<input type="file" fileread="product.image">
            </label>-->
            <button type="submit" ng-disabled="" class="btn btn-success btn-md">Submit</button>
            <span ng-show="message === 'processing'"><img src="images/loader.GIF"></span>
            <span ng-show="message === 'success'" class="text-success">Price Saved!</span>
            <span ng-show="message === 'error'" class="alert alert-danger">
                <i class="fa fa-exclamation-triangle"></i> Submission Error. Please try again later.
            </span>
        </section>
    </form>

    <div ng-show="message === 'success'">
        <div class="alert alert-success">
            <i class="fa fa-check-circle primary-color"></i>
            Price successfully added!
        </div>
        <h4><i class="fa fa-paste primary-color"></i> Receipt For Your Records</h4>
        <span class="note">You can view this receipt and all of your submissions in <a ui-sref="account_settings">Account Settings</a></span>
        <hr>
        <p>Transaction ID: <strong>{{receipt.id}}</strong></p>
        <p>Product Name: <strong>{{receipt.description}}</strong></p>
        <p>Place of Purchase: <strong>{{receipt.business}}</strong></p>
        <p>Price Paid: <strong>${{receipt.price}}</strong></p>
        <div>
            <button ng-click="initializeData()" class="btn btn-link" style="padding: 0">Submit Another Price</button>
        </div>
    </div>
</div>
