<div id="submit-price">
    <div class="content-header">
        <h5><i class="fa fa-share-square-o"></i> Submit a Price</h5>
    </div>
    <form ng-submit="submitPrice()"
            ng-hide="message === 'success'"
            id="submit-product-form"
            name="submitForm"
            role="form">
        <div class="row">
            <section class="col-md-8">
				Complete the required fields below (denoted by a *) then click Submit to add your product or service to Savvy.
                <label>
                    <p>Product Name <span class="required-asterisk">&ast;</span></p>
                    <input type="text"
                            ng-model="product.description"
                            ng-required="true"
                            id="product-name"
                            placeholder="The name of the product, e.g. 12oz. Coke Can">
                </label>
                <label>
                    <p>Place of Purchase <span class="required-asterisk">&ast;</span></p>
                    <input type="text"
                            ng-required="true"
                            id="places"
                            placeholder="Where you bought the product">
                    <a>Enter Custom Address</a>
                </label>
                <label>
                	<p>Price Paid <span class="required-asterisk">&ast;</span></p>
                    <span class="input-addon"
                        style="background-color: #eee; padding: 12px; margin-right: -5px; border-top-left-radius: 2px;
                        border-bottom-left-radius: 2px; border: 1px solid #e5e5e5;">
                    $</span>
                    <input type="number"
                            ng-model="price"
                            id="price-paid"
                            step="any"
                            min="0"
                            ng-required="true"
                            placeholder="The price you paid">
                </label>
            </section>
            <section class="col-md-4">
                <label id="add-tag-wrapper">
                    <p>Add A Tag</p>
					<p>You can add tags (words associated with the product or service) here. Click add after entering each tag. You may submit more than one tag.</p>
                    <input type="text"
                            ng-model="tag"
                            ng-enter="addTag();"
                            size="6"
                            id="add-tag"
                            placeholder="Enter a tag">
                    <button type="button"
                            class="btn btn-primary btn-sm"
                            ng-click="addTag()">
                            Add
                    </button>
                </label>
                <span ng-show="messages.tag_message === 'error-empty-input'" class="error-message">Please enter a tag.</span>
                <span ng-show="messages.tag_message === 'error-already-entered'" class="error-message">You already entered that tag!</span>
                <span ng-repeat="tag in product.tags" class="tag">{{tag}}<span style="margin-left: 2px; padding: 1px; background-color: grey;">X</span></span>
            </section>
            <label>
                <span>Upload a picture of the product (optional)</span>
                <!--<input type="file" fileread="product.image">-->
                <input type="file" ng-model="product_image" fileread="product_image">
            </label>
        </div>
        <section>
            <button type="submit" ng-disabled="" class="btn btn-success btn-md">Submit</button>
			<!-- Add a Go Back button! -->
            <span ng-show="message === 'processing'"><img src="images/loader.GIF"></span>
            <span ng-show="message === 'success'" class="text-success">Price Saved!</span>
            <span ng-show="message === 'error'" class="alert alert-danger">
                <i class="fa fa-exclamation-triangle"></i> Submission Error. Please try again later.
            </span>
        </section>
    </form>

    <div ng-show="message === 'success'">
        <div class="alert alert-success">
            <i class="fa fa-check-circle primary-color"></i>
            Price successfully added!
        </div>
        <h4><i class="fa fa-paste primary-color"></i> Receipt For Your Records</h4>
        <span class="note">You can view this receipt and all of your submissions in <a ui-sref="account_settings">Account Settings</a></span>
        <hr>
        <p>Transaction ID: <strong>{{receipt.id}}</strong></p>
        <p>Product Name: <strong>{{receipt.description}}</strong></p>
        <p>Place of Purchase: <strong>{{receipt.business}}</strong></p>
        <p>Price Paid: <strong>${{receipt.price}}</strong></p>
        <p>Tags: <strong>{{receipt.tags}}</strong></p>
        <div>
            <button ng-click="initializeData()" class="btn btn-link" style="padding: 0">Submit Another Price</button>
        </div>
    </div>
</div>
