<div id="product-info">

<div class="content-header">
    <h5><i class="fa fa-info-circle"></i> Product Information</h5>
</div>

<div class="row">
    <div class="col-sm-2">
        <div>
            <i ng-click="vote();" class="fa fa-arrow-up" style="font-size: 20px; color: green;"></i>
        </div>
        <div>
            <i ng-click="vote();" class="fa fa-thumbs-o-down" style="font-size: 20px; color: red;"></i>
        </div>
        {{icon}}
        <p>
            Was this information helpful?
        </p>
    </div>
    <div class="col-sm-5">
        <h2>{{product.description}}</h2>
        <p><span style="font-size: 24px;">${{product.average_price / 100}}</span> <span style="font-size: 12px;">Average Price</span></p>
        <p><span style="font-size: 24px;">${{product.lowest_price}}</span> <span style="font-size: 12px;">Lowest Price</span></p>
    </div>
    <div class="col-sm-5">
        <img src="http://www.greekshares.com/uploads/image/stock_market_quotes.jpg" style="width: 85%; ">
        <div>
            <span>Tags:</span>
            <span ng-repeat="tag in product.tags" class="badge">
                <a ui-sref="search({search_term: '{{tag}}'})">{{tag}}</a>
            </span>
            <input type="text"
                   placeholder="Add tags, comma seperated">
            <button type="button" class="btn btn-primary btn-sm">Submit</button>

        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-sm-4">
        <h2>Latest Prices</h2>
        <table class="table table-striped">
            <tr>
                <th>
                    Location
                </th>
                <th>Purchase Price</th>
                <th>Date Purchased</th>
            </tr>
            <tr>
                <th>
                    Starbucks
                </th>
                <td>$1.65</td>
                <td>$1.20</td>
            </tr>
        </table>
    </div>
    <div class="col-sm-8">
        <img src="" alt="Google Map with all businesses marked">
    </div>
</div>
<div class="row">
    <h2>Price Over Time</h2>
    <div id="visualization"></div>
</div>
</div>
