<header class="content-header">
    <h4><i class="fa fa-cloud-upload"></i> Upload a Receipt</h4>
</header>
<div>
    <label for="receipt-upload">Upload a photo of your receipt</label><input type="file" id="receipt-upload">
    <div>
        <button class="btn btn-primary">Upload</button>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <p>The receipt image should look like this</p>
            <img alt="Sample Picture of Receipt for Instructional Purposes">
        </div>
        <div class="col-sm-6">
            <p>Here is your receipt</p>
            <img alt="Picture of User Uploaded Receipt"
        </div>
    </div>
</div>
